In [4]:
import pandas as pd


raw_data = pd.read_csv(r'C:\Users\MANOJ\OneDrive\Desktop\pds_Assignment 2\train.csv')

# Filling missing values in all columns with the mode
for column in raw_data.columns:
    raw_data[column].fillna(raw_data[column].mode()[0], inplace=True)


raw_data.to_csv(r"C:\Users\MANOJ\OneDrive\Desktop\pds_Assignment 2\Cleaned.csv", index=False)
raw_data = pd.read_csv(r"C:\Users\MANOJ\OneDrive\Desktop\pds_Assignment 2\Cleaned.csv")
print(raw_data.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage   Engine  \
0              41000    Diesel       Manual      First  19.67 kmpl  1582 CC
1              46000    Petrol       Manual      First    13 km/kg  1199 CC
2              87000    Diesel       Manual      First  20.77 kmpl  1248 CC
3              40670    Diesel    Automatic     Second   15.2 kmpl  1968 CC
4              86999    Diesel       Manual      First  23.08 kmpl  1461 CC

       Power  Seats  New_Price  Price
0  126.2 bhp    5.0  4.78 Lakh  12.50
1   88.7 bhp    5.0  8.61 Lakh   4.50
2  88.76 bhp    7.0  4.78 Lakh   6.00
3  140.8 bhp    5.0  4.78 Lakh  17.74
4   63.1 bhp    5.0  4.78 Lakh   3.50

In [6]:
import pandas as pd

def Conversion_function(data, columns):
    for column in columns:
        data[column] = data[column].str.extract('(\d+\.\d+|\d+)').astype(float, errors='ignore')

data_2 = pd.read_csv(r"C:\Users\MANOJ\OneDrive\Desktop\pds_Assignment 2\Cleaned.csv")


cleaning_columns = ['Mileage', 'Engine', 'Power', 'New_Price']

# Call the function to remove units and keep only numerical values for the specified columns
Conversion_function(data_2, cleaning_columns)


data_2.to_csv(r"C:\Users\MANOJ\OneDrive\Desktop\pds_Assignment 2\Converted.csv", index=False)
data_2 = pd.read_csv(r"C:\Users\MANOJ\OneDrive\Desktop\pds_Assignment 2\Converted.csv")
print(data_2.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0              41000    Diesel       Manual      First    19.67  1582.0
1              46000    Petrol       Manual      First    13.00  1199.0
2              87000    Diesel       Manual      First    20.77  1248.0
3              40670    Diesel    Automatic     Second    15.20  1968.0
4              86999    Diesel       Manual      First    23.08  1461.0

    Power  Seats  New_Price  Price
0  126.20    5.0       4.78  12.50
1   88.70    5.0       8.61   4.50
2   88.76    7.0       4.78   6.00
3  140.80    5.0       4.78  17.74
4   63.10    5.0       4.78   3.50

In [9]:
import pandas as pd
import category_encoders as ce


raw_data = pd.read_csv(r"C:\Users\MANOJ\OneDrive\Desktop\pds_Assignment 2\Converted.csv")

Oneencoder = ce.OneHotEncoder(cols=['Fuel_Type', 'Transmission'], use_cat_names=True)

# Applying one-hot encoding to the specified columns
encoded_data = Oneencoder.fit_transform(raw_data)

encoded_data.to_csv(r"C:\Users\MANOJ\OneDrive\Desktop\pds_Assignment 2\mutated.csv", index=False)
raw_data = pd.read_csv(r"C:\Users\MANOJ\OneDrive\Desktop\pds_Assignment 2\mutated.csv")
print(raw_data.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven  Fuel_Type_Diesel  Fuel_Type_Petrol  Fuel_Type_Electric  \
0              41000                 1                 0                   0
1              46000                 0                 1                   0
2              87000                 1                 0                   0
3              40670                 1                 0                   0
4              86999                 1                 0                   0

   Transmission_Manual  Transmission_Automatic Owner_Type  Mileage  Engine  \
0                    1                       0      First    19.67  1582.0
1                    1                       0      First    13.00  1199.0
2                    1                       0      First    20.77  1248.0
3                    0                       1     Second    15.20  1968.0
4                    1                       0      First    23.08  1461.0

    Power  Seats  New_Price  Price
0  126.20    5.0       4.78  12.50
1   88.70    5.0       8.61   4.50
2   88.76    7.0       4.78   6.00
3  140.80    5.0       4.78  17.74
4   63.10    5.0       4.78   3.50

In [10]:
import pandas as pd
import datetime


raw_data = pd.read_csv(r"C:\Users\MANOJ\OneDrive\Desktop\pds_Assignment 2\mutated.csv")

# Calculating the current age of the car
present_year = datetime.datetime.now().year
raw_data['Current_Age'] = (present_year - raw_data['Year']).astype(str) + " years"


raw_data['Mileage_Category'] = pd.cut(raw_data['Mileage'], bins=[0, 10, 15, float('inf')], labels=['Low', 'Medium', 'High'], right=False)


raw_data.to_csv(r"C:\Users\MANOJ\OneDrive\Desktop\pds_Assignment 2\operations.csv", index=False)
raw_data = pd.read_csv(r"C:\Users\MANOJ\OneDrive\Desktop\pds_Assignment 2\operations.csv")
print(raw_data.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven  Fuel_Type_Diesel  Fuel_Type_Petrol  Fuel_Type_Electric  \
0              41000                 1                 0                   0
1              46000                 0                 1                   0
2              87000                 1                 0                   0
3              40670                 1                 0                   0
4              86999                 1                 0                   0

   Transmission_Manual  Transmission_Automatic Owner_Type  Mileage  Engine  \
0                    1                       0      First    19.67  1582.0
1                    1                       0      First    13.00  1199.0
2                    1                       0      First    20.77  1248.0
3                    0                       1     Second    15.20  1968.0
4                    1                       0      First    23.08  1461.0

    Power  Seats  New_Price  Price Current_Age Mileage_Category
0  126.20    5.0       4.78  12.50     9 years             High
1   88.70    5.0       8.61   4.50    13 years           Medium
2   88.76    7.0       4.78   6.00    12 years             High
3  140.80    5.0       4.78  17.74    11 years             High
4   63.10    5.0       4.78   3.50    11 years             High